body{
    background-color: #3973A3;
    color: #D487F0;
    background-image: url('/Users/nico/Desktop/general-assembly/unit1/hw/IBSS/img/spaceBackground.jpeg');
    font-family: "Shadows Into Light";
    text-align: center;
}

h2 {
    color: #7e18a3;
    font-family: "Permanent Marker";
}


h1 {
    color: #F0D53C;
    size: 5rem;
    font-family: "Mr Dafoe"; 
}
/* Colors I'll use:
Banana Yellow #F0d53c (use sparingly)
dark aqua #3973A3 (Background)
Lighter blue #48A3f0
Purple 7E18A3
Lilac D487F0 



*/


#bananaConsole {
    border: 3px #7e18a3;
    display: flex;
    position: relative;
    

}
/* when the banana button is clicked, button background should change
or green

when bananafy button is hovered/clicked
make the background darker/ when clicked invert colors
*/
.bananaBody {
    width: 50vw;
    text-align: center;
    margin: auto;
    /* background-color: blue; */
}

button {
    background-color: darkslategray;
    color:lightcyan;
    
}

button:hover {
    background-color: gray;
    cursor: pointer;
}

#userAddress {
    display: flex;
    position: absolute;
    right: 0;
}

.address {
    background-color: gray;
    color: white;
}

