body{
    background-color: black;
    color: #4CD73F;
    font-family: courier;
    cursor: url('img/spinninNanner.gif'), auto;
}






#bananaConsole {
    border: 6px solid gray;
    display: flex;
    position: relative;

}
/* when the banana button is clicked, button background should change
or green

when bananafy button is hovered/clicked
make the background darker/ when clicked invert colors
*/
.bananaBody {
    width: 50vw;
    text-align: center;
    margin: auto;
    /* background-color: blue; */
}

button {
    background-color: darkslategray;
    color:lightcyan;
    
}

button:hover {
    background-color: blue;
}

#userAddress {
    display: flex;
    position: absolute;
    right: 0;
}

.address {
    background-color: gray;
    color: white;
}

