body{
    background-color: #3973A3;
    color: #D487F0;
    background-image: url('./img/spaceBackground.rev\ copy.jpeg');
    font-family: "Montserrat", "courier";
    text-align: center;
}

h2{
    color: #7e18a3;
    font-family: "Krona One";
}


h3 {
    color: #D487f0;
    font-family: "Krona One";
}

button {
    background-color: darkslategray;
    color:lightcyan;
    border-radius: 50%;
    font-family: "Montserrat";
    
}

button:hover {
    background-color: yellow;
    cursor: pointer;
    color: black;
}

@keyframes float {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(100vw)
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.intro {
    background-color: darkslateblue;
    opacity: 60%;
    color: white;
}

.floatingBanana{
    max-width: 75px;
    height: auto;
    animation-name: spin;
    animation-duration: 19500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.flyingBanana{
    max-width: 75px;
    height: auto;
    animation-name: float;
    animation-duration: 19500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}


.headerSpin{
    max-width: 75px;
    height: auto;
    animation-name: spin;
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

button {
    background-color: darkslategray;
    color:lightcyan;
    border-radius: 50%;
    font-family: "Montserrat";
    
}

button:hover {
    background-color: yellow;
    cursor: pointer;
    color: black;
}
.bananaBody {
    width: 75vw;
    text-align: center;
    margin: auto;
    display: flex, grid;

}


.heading {
    color: #F0D53C;
    size: 10rem;
    font-family: "Turret Road"; 
}

.nanners {
    max-width: 75px;
}

#facts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#cosmicBanana{
    max-width: 50vw;
}

#bss {
    max-width: 15vw;
}


#bananaConsole {
    display: flex;
    justify-content: center;
}

.address {
    background-color: lightblue;
    color: white;
    font-family: "Montserrat";
    border-radius: 25%;
    width: 20rem;
    height: 1rem;
}

.results {
    background-color: darkslateblue;
    opacity: 90%;
    display: flex;
    justify-content: space-between, center;
    
}

#userAddress {
    display: flex;
    justify-content: space-between;
}

